<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23G93</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>NootedBlue</string>
	<key>CFBundleIdentifier</key>
	<string>com.ChefKissInc.NootedBlue</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NootedBlue</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24B75</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.1</string>
	<key>DTSDKBuild</key>
	<string>24B75</string>
	<key>DTSDKName</key>
	<string>macosx15.1</string>
	<key>DTXcode</key>
	<string>1610</string>
	<key>DTXcodeBuild</key>
	<string>16B40</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelFramebufferControllerICL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelICLLPGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<true/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<true/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>AGDC</key>
					<integer>7</integer>
					<key>ASMF</key>
					<integer>7</integer>
					<key>AUUC</key>
					<integer>7</integer>
					<key>AUX</key>
					<integer>15</integer>
					<key>BRINGUP</key>
					<integer>31</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGNOSTICS</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>DPCD</key>
					<integer>31</integer>
					<key>DSC</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>HOT_PLUG</key>
					<integer>31</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>MEI</key>
					<integer>7</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>MMIO</key>
					<integer>7</integer>
					<key>MODESET</key>
					<integer>31</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PAVP</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>PORT</key>
					<integer>31</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>POWER_WELL</key>
					<integer>31</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SIM</key>
					<integer>15</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
					<key>VDT</key>
					<integer>7</integer>
					<key>VRR</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>0</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>4KVideoDownscale</key>
				<integer>1</integer>
				<key>ASFU</key>
				<integer>1</integer>
				<key>ASFUThresholdFPS</key>
				<integer>50</integer>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DBUFOptimizeTime</key>
				<integer>1</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DSCCapReporting</key>
				<integer>1</integer>
				<key>DSCSupport</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableHigherWMLevels</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDynamicScaler</key>
				<integer>0</integer>
				<key>EnableLPVPonPlanar</key>
				<integer>0</integer>
				<key>EnableMultipipeScaler</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>0</integer>
				<key>FECSupport</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPU420Support</key>
				<integer>1</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>HDRExtLinearization</key>
				<integer>0</integer>
				<key>HDRExtPQ</key>
				<integer>0</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>P010Enable</key>
				<integer>1</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SliceSDEnableOld</key>
				<integer>0</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>1</integer>
				<key>TransitionAmount</key>
				<integer>10</integer>
				<key>VBLWatchdogFeatureEnable</key>
				<integer>1</integer>
				<key>VRRSupport</key>
				<integer>0</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>hwAssistedHDR</key>
				<integer>0</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string></string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
		</dict>
		<key>AppleIntelFramebufferControllerICLle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xxxxx.driver.AppleIntelICLLPGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<true/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<true/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>AGDC</key>
					<integer>7</integer>
					<key>ASMF</key>
					<integer>7</integer>
					<key>AUUC</key>
					<integer>7</integer>
					<key>AUX</key>
					<integer>15</integer>
					<key>BRINGUP</key>
					<integer>31</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGNOSTICS</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>DPCD</key>
					<integer>31</integer>
					<key>DSC</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>HOT_PLUG</key>
					<integer>31</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>MEI</key>
					<integer>7</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>MMIO</key>
					<integer>7</integer>
					<key>MODESET</key>
					<integer>31</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PAVP</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>PORT</key>
					<integer>31</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>POWER_WELL</key>
					<integer>31</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SIM</key>
					<integer>15</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
					<key>VDT</key>
					<integer>7</integer>
					<key>VRR</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>0</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>4KVideoDownscale</key>
				<integer>1</integer>
				<key>ASFU</key>
				<integer>1</integer>
				<key>ASFUThresholdFPS</key>
				<integer>50</integer>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DBUFOptimizeTime</key>
				<integer>1</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DSCCapReporting</key>
				<integer>1</integer>
				<key>DSCSupport</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableHigherWMLevels</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDynamicScaler</key>
				<integer>0</integer>
				<key>EnableLPVPOnExternal</key>
				<integer>1</integer>
				<key>EnableMultipipeScaler</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>0</integer>
				<key>FECSupport</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPU420Support</key>
				<integer>1</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>HDRExtLinearization</key>
				<integer>0</integer>
				<key>HDRExtPQ</key>
				<integer>0</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>P010Enable</key>
				<integer>1</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SliceSDEnableOld</key>
				<integer>0</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>1</integer>
				<key>TransitionAmount</key>
				<integer>10</integer>
				<key>VRRSupport</key>
				<integer>0</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>hwAssistedHDR</key>
				<integer>0</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string></string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
		</dict>
		<key>AppleIntelFramebufferControllerTGLle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xxxxx.driver.AppleIntelTGLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<true/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<true/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ASMF</key>
					<integer>7</integer>
					<key>AUUC</key>
					<integer>7</integer>
					<key>AUX</key>
					<integer>15</integer>
					<key>BRINGUP</key>
					<integer>31</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>DSC</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>MEI</key>
					<integer>7</integer>
					<key>MEI_VERBOSE</key>
					<integer>7</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>MMIO</key>
					<integer>7</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PAVP</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>PORT</key>
					<integer>31</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>POWER_VERBOSE</key>
					<integer>7</integer>
					<key>POWER_WELL</key>
					<integer>31</integer>
					<key>POWER_WELL_VERBOSE</key>
					<integer>7</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SIM</key>
					<integer>15</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
					<key>VRR</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>0</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>4KVideoDownscale</key>
				<integer>1</integer>
				<key>ASFU</key>
				<integer>1</integer>
				<key>ASFUThresholdFPS</key>
				<integer>50</integer>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DBUFOptimizeTime</key>
				<integer>1</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DSCCapReporting</key>
				<integer>0</integer>
				<key>DSCSupport</key>
				<integer>0</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableHigherWMLevels</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>0</integer>
				<key>EnableMultipipeScaler</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>0</integer>
				<key>FECSupport</key>
				<integer>0</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPU420Support</key>
				<integer>1</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>P010Enable</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SliceSDEnableOld</key>
				<integer>0</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>0</integer>
				<key>TransitionAmount</key>
				<integer>14</integer>
				<key>VRRSupport</key>
				<integer>0</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9A608086 0x9A688086 0x9A708086 0x9A408086 0x9A498086 0x9A598086 0x9A788086 0x9AC08086 0x9AC98086 0x9AD98086 0x9AF88086 0x46808086 0x46828086 0x46888086 0x468A8086 0x468B8086 0x46908086 0x46928086 0x46938086 0x46A08086 0x46A18086 0x46A28086 0x46A38086 0x46A68086 0x46A88086 0x46AA8086 0x462A8086 0x46268086 0x46288086 0x46B08086 0x46B18086 0x46B28086 0x46B38086 0x46C08086 0x46C18086 0x46C28086 0x46C38086 0x46D08086 0x46D18086 0x46D28086 0x46D38086 0x46D48086  0xff058086 0x8A708086 0x8A718086 0x8A518086 0x8A5C8086 0x8A5D8086 0x8A528086 0x8A538086 0x8A5A8086 0x8A5B8086</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DisplayAppleIDInjection</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>DisplayProductID</key>
			<integer>1822</integer>
			<key>DisplayVendorID</key>
			<integer>12516</integer>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleDisplay</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOClass</key>
				<string>AppleBacklightDisplay</string>
			</dict>
		</dict>
		<key>Monitor Apple ID Injection</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>DisplayProductID</key>
			<integer>1822</integer>
			<key>DisplayVendorID</key>
			<integer>12516</integer>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleBacklightDisplay</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>AppleDisplayType</key>
				<integer>2</integer>
				<key>AppleSense</key>
				<integer>1854</integer>
				<key>DisplayParameterHandlerUsesCharPtr</key>
				<true/>
				<key>DisplayProductID</key>
				<integer>45061</integer>
				<key>DisplayProductName</key>
				<string>Unknown Display</string>
				<key>DisplayVendorID</key>
				<integer>1552</integer>
				<key>IODisplayCapabilityString</key>
				<data>KHByb3QoYmFja2xpZ2h0KSB0eXBlKGxlZCkgbW9kZWwoaU1hYykgdmNwKDAyIDEwIDUyIDhEIEM4IEM5IERFIERGIEZDIEZEIEZFKSBtY2NzX3ZlcigyLjIpKQ==</data>
				<key>IODisplayConnectFlags</key>
				<data>hEkAAA==</data>
				<key>IODisplayControllerID</key>
				<data>AgQR/w==</data>
				<key>IODisplayEDID</key>
				<data>AP///////wAGEAWwAAAAABwWAQS1MBt4Im+xp1VMniUMUFQAAAABAQEBAQEBAQEBAQEBAQEBLjaAoHA4H0AwIDUAWMIQAAAaHySAoHA4H0AwIDUAWMIQAAAaAAAA/ABpTWFjCiAgICAgICAgAAAAAgAMOv8KPH0SFCR9AAAAAKc=</data>
				<key>IODisplayFirmwareLevel</key>
				<data>AAACBA==</data>
				<key>IODisplayMCCSVersion</key>
				<data>AAICAA==</data>
				<key>IODisplayPrefsKey</key>
				<string>IOService:/AppleACPIPlatformExpert/PC00@0/AppleACPIPCI/IGPU@2/AppleIntelFramebuffer@0/display0/AppleBacklightDisplay-610-b005</string>
			</dict>
		</dict>
		<key>Gen7ICL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelICLGraphics</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Indent</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ACCEL</key>
					<integer>3</integer>
					<key>AUB</key>
					<integer>3</integer>
					<key>BLIT</key>
					<integer>3</integer>
					<key>BRIDGE</key>
					<integer>3</integer>
					<key>CHANNEL</key>
					<integer>3</integer>
					<key>CL</key>
					<integer>3</integer>
					<key>CTX_2D</key>
					<integer>3</integer>
					<key>DEFAULT</key>
					<integer>3</integer>
					<key>DISPLAY</key>
					<integer>3</integer>
					<key>EVENT</key>
					<integer>3</integer>
					<key>FB</key>
					<integer>3</integer>
					<key>FENCE</key>
					<integer>3</integer>
					<key>FORCEWAKE</key>
					<integer>3</integer>
					<key>GC</key>
					<integer>3</integer>
					<key>GCOBJ</key>
					<integer>3</integer>
					<key>GST</key>
					<integer>3</integer>
					<key>GST_PER_CONTEXT</key>
					<integer>3</integer>
					<key>GUC</key>
					<integer>3</integer>
					<key>GUCLOG</key>
					<integer>3</integer>
					<key>GUCQ</key>
					<integer>3</integer>
					<key>HWCS</key>
					<integer>3</integer>
					<key>HWCTXT</key>
					<integer>3</integer>
					<key>LAYOUT</key>
					<integer>3</integer>
					<key>LOCK</key>
					<integer>3</integer>
					<key>MAPPING</key>
					<integer>3</integer>
					<key>MEM</key>
					<integer>3</integer>
					<key>OAPATCHING</key>
					<integer>3</integer>
					<key>PATCH</key>
					<integer>3</integer>
					<key>QUEUE</key>
					<integer>3</integer>
					<key>RC</key>
					<integer>3</integer>
					<key>RESLIST</key>
					<integer>3</integer>
					<key>RESOURCE</key>
					<integer>3</integer>
					<key>RING</key>
					<integer>3</integer>
					<key>SCHED</key>
					<integer>3</integer>
					<key>SEMQ</key>
					<integer>3</integer>
					<key>SHAREDUSER</key>
					<integer>3</integer>
					<key>SURFACE</key>
					<integer>3</integer>
					<key>SYSCTL</key>
					<integer>3</integer>
					<key>TASK</key>
					<integer>3</integer>
					<key>TELEMETRY</key>
					<integer>3</integer>
					<key>TELEMETRY_CONFIG</key>
					<integer>3</integer>
					<key>TELEMETRY_KTRACE</key>
					<integer>3</integer>
					<key>TELEMETRY_MEMORY</key>
					<integer>3</integer>
					<key>TELEMETRY_REPORT</key>
					<integer>3</integer>
					<key>TELEMETRY_USAGE</key>
					<integer>3</integer>
					<key>TELEMETRY_WRITE_STATISTICS</key>
					<integer>3</integer>
					<key>TEXTURE</key>
					<integer>3</integer>
					<key>UTIL</key>
					<integer>3</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>Development</key>
			<dict>
				<key>AddressMode</key>
				<integer>64</integer>
				<key>AddressSpaceEnableMask</key>
				<integer>3</integer>
				<key>AllowIOSurfaceRenderCompression</key>
				<integer>1</integer>
				<key>CsbProcModeSelect</key>
				<integer>0</integer>
				<key>DisableBA</key>
				<integer>0</integer>
				<key>DisablePageFaultHandling</key>
				<integer>0</integer>
				<key>DisplaySurfaceInEDRAM</key>
				<integer>1</integer>
				<key>EUThrottle</key>
				<integer>0</integer>
				<key>EnablePlaneRotation</key>
				<integer>0</integer>
				<key>EnablePreemption</key>
				<integer>1</integer>
				<key>ForceDisableEDRAM</key>
				<integer>0</integer>
				<key>GraphicsSchedulerSelect</key>
				<integer>0</integer>
				<key>HwCtxCacheUpdate</key>
				<integer>1</integer>
				<key>MetalCoalesce</key>
				<integer>1</integer>
				<key>MultiForceWakeSelect</key>
				<integer>1</integer>
				<key>NewUtilizationAlgorithmEnable</key>
				<integer>1</integer>
				<key>PPGTT</key>
				<integer>1</integer>
				<key>PageTableMode</key>
				<integer>64</integer>
				<key>PanicOnGPUHang</key>
				<integer>0</integer>
				<key>PixelBackendThrottle</key>
				<integer>0</integer>
				<key>PreemptionDelayIntervalUS</key>
				<integer>160</integer>
				<key>PreemptionTimerIntervalUS</key>
				<integer>2000</integer>
				<key>RingSizeKB</key>
				<integer>32</integer>
				<key>SamplerDataFetchThrottle</key>
				<integer>0</integer>
				<key>SamplerPipeThrottle</key>
				<integer>0</integer>
				<key>SchedPmNotifyEnable</key>
				<integer>1</integer>
				<key>SchedThrottleCapMS</key>
				<integer>100</integer>
				<key>SchedulerFallbackOnFirmwareFail</key>
				<integer>0</integer>
				<key>SemaphoreWaitPoll</key>
				<integer>1</integer>
				<key>SeparateAddressSpace</key>
				<integer>1</integer>
				<key>SignalStampRange</key>
				<integer>1</integer>
				<key>SignalStampsPrimary</key>
				<integer>0</integer>
				<key>SingleChannelIndex</key>
				<integer>0</integer>
				<key>TelemetryDisable</key>
				<integer>0</integer>
				<key>WaitForComplete</key>
				<integer>0</integer>
			</dict>
			<key>GPURawCounterBundleName</key>
			<string>AppleIntelICLGraphicsMTLDriver</string>
			<key>GPURawCounterPluginClassName</key>
			<string>IGGPURawCounterSourceGroup</string>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelICLGraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelICLGraphicsGLDriver</string>
			<key>IOGVABGRAEnc</key>
			<string>Gen11</string>
			<key>IOGVACodec</key>
			<string>Gen11</string>
			<key>IOGVAH264EncodeCapabilities</key>
			<dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>400</integer>
			</dict>
			<key>IOGVAHEVCDecode</key>
			<string>2</string>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncode</key>
			<string>2</string>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>183</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>183</integer>
					</dict>
				</dict>
				<key>VTQualityRating</key>
				<integer>80</integer>
				<key>VTRating</key>
				<integer>100</integer>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen11</string>
			<key>IOGVAXDecode</key>
			<string>2</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string></string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301632</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelICLGraphicsMTLDriver</string>
		</dict>
		<key>Gen7TGL</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelTGLGraphics</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Indent</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ACCEL</key>
					<integer>3</integer>
					<key>AUB</key>
					<integer>3</integer>
					<key>BLIT</key>
					<integer>3</integer>
					<key>BRIDGE</key>
					<integer>3</integer>
					<key>CHANNEL</key>
					<integer>3</integer>
					<key>CL</key>
					<integer>3</integer>
					<key>CTX_2D</key>
					<integer>3</integer>
					<key>CTX_GL</key>
					<integer>3</integer>
					<key>DEFAULT</key>
					<integer>3</integer>
					<key>DISPLAY</key>
					<integer>3</integer>
					<key>EVENT</key>
					<integer>3</integer>
					<key>FB</key>
					<integer>3</integer>
					<key>FENCE</key>
					<integer>3</integer>
					<key>FORCEWAKE</key>
					<integer>3</integer>
					<key>GC</key>
					<integer>3</integer>
					<key>GCOBJ</key>
					<integer>3</integer>
					<key>GST</key>
					<integer>3</integer>
					<key>GST_PER_CONTEXT</key>
					<integer>3</integer>
					<key>GUC</key>
					<integer>3</integer>
					<key>GUCLOG</key>
					<integer>3</integer>
					<key>GUCQ</key>
					<integer>3</integer>
					<key>HWCS</key>
					<integer>3</integer>
					<key>HWCTXT</key>
					<integer>3</integer>
					<key>LAYOUT</key>
					<integer>3</integer>
					<key>LOCK</key>
					<integer>3</integer>
					<key>MAPPING</key>
					<integer>3</integer>
					<key>MEM</key>
					<integer>3</integer>
					<key>OAPATCHING</key>
					<integer>3</integer>
					<key>PATCH</key>
					<integer>3</integer>
					<key>QUEUE</key>
					<integer>3</integer>
					<key>RC</key>
					<integer>3</integer>
					<key>RC_MEM</key>
					<integer>3</integer>
					<key>RESLIST</key>
					<integer>3</integer>
					<key>RESOURCE</key>
					<integer>3</integer>
					<key>RING</key>
					<integer>3</integer>
					<key>SCHED</key>
					<integer>3</integer>
					<key>SEMQ</key>
					<integer>3</integer>
					<key>SHAREDUSER</key>
					<integer>3</integer>
					<key>SURFACE</key>
					<integer>3</integer>
					<key>SYSCTL</key>
					<integer>3</integer>
					<key>TASK</key>
					<integer>3</integer>
					<key>TELEMETRY</key>
					<integer>3</integer>
					<key>TELEMETRY_CONFIG</key>
					<integer>3</integer>
					<key>TELEMETRY_KTRACE</key>
					<integer>3</integer>
					<key>TELEMETRY_MEMORY</key>
					<integer>3</integer>
					<key>TELEMETRY_REPORT</key>
					<integer>3</integer>
					<key>TELEMETRY_USAGE</key>
					<integer>3</integer>
					<key>TELEMETRY_WRITE_STATISTICS</key>
					<integer>3</integer>
					<key>TEXTURE</key>
					<integer>3</integer>
					<key>UTIL</key>
					<integer>3</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>Development</key>
			<dict>
				<key>AddressMode</key>
				<integer>64</integer>
				<key>AddressSpaceEnableMask</key>
				<integer>3</integer>
				<key>AllowIOSurfaceRenderCompression</key>
				<integer>1</integer>
				<key>CsbProcModeSelect</key>
				<integer>0</integer>
				<key>DisablePageFaultHandling</key>
				<integer>0</integer>
				<key>DisplaySurfaceInEDRAM</key>
				<integer>0</integer>
				<key>EUThrottle</key>
				<integer>0</integer>
				<key>EnableMultiContext</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>0</integer>
				<key>EnablePreemption</key>
				<integer>1</integer>
				<key>ForceDisableEDRAM</key>
				<integer>0</integer>
				<key>GraphicsSchedulerSelect</key>
				<integer>5</integer>
				<key>MetalCoalesce</key>
				<integer>1</integer>
				<key>MultiForceWakeSelect</key>
				<integer>1</integer>
				<key>NewUtilizationAlgorithmEnable</key>
				<integer>1</integer>
				<key>PPGTT</key>
				<integer>2</integer>
				<key>PageTableMode</key>
				<integer>48</integer>
				<key>PanicOnGPUHang</key>
				<integer>0</integer>
				<key>PixelBackendThrottle</key>
				<integer>0</integer>
				<key>PreemptionDelayIntervalUS</key>
				<integer>160</integer>
				<key>PreemptionTimerIntervalUS</key>
				<integer>2000</integer>
				<key>RingSizeKB</key>
				<integer>32</integer>
				<key>SamplerDataFetchThrottle</key>
				<integer>0</integer>
				<key>SamplerPipeThrottle</key>
				<integer>0</integer>
				<key>SchedPmNotifyEnable</key>
				<integer>1</integer>
				<key>SchedThrottleCapMS</key>
				<integer>100</integer>
				<key>SchedulerFallbackOnFirmwareFail</key>
				<integer>1</integer>
				<key>SemaphoreWaitPoll</key>
				<integer>1</integer>
				<key>SeparateAddressSpace</key>
				<integer>1</integer>
				<key>SignalStampRange</key>
				<integer>1</integer>
				<key>SignalStampsPrimary</key>
				<integer>0</integer>
				<key>SingleChannelIndex</key>
				<integer>0</integer>
				<key>TelemetryDisable</key>
				<integer>0</integer>
				<key>WaitForComplete</key>
				<integer>0</integer>
			</dict>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelTGLGraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelTGLGraphicsGLDriver</string>
			<key>IOGVABGRAEnc</key>
			<string>Gen10</string>
			<key>IOGVACodec</key>
			<string>Gen10</string>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>183</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen10</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string></string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301568</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelTGLGraphicsMTLDriver</string>
		</dict>
		<key>Gen7TGLle</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xxxxx.driver.AppleIntelTGLGraphics</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Indent</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ACCEL</key>
					<integer>3</integer>
					<key>AUB</key>
					<integer>3</integer>
					<key>BLIT</key>
					<integer>3</integer>
					<key>BRIDGE</key>
					<integer>3</integer>
					<key>CHANNEL</key>
					<integer>3</integer>
					<key>CL</key>
					<integer>3</integer>
					<key>CTX_2D</key>
					<integer>3</integer>
					<key>CTX_GL</key>
					<integer>3</integer>
					<key>DEFAULT</key>
					<integer>3</integer>
					<key>DISPLAY</key>
					<integer>3</integer>
					<key>EVENT</key>
					<integer>3</integer>
					<key>FB</key>
					<integer>3</integer>
					<key>FENCE</key>
					<integer>3</integer>
					<key>FORCEWAKE</key>
					<integer>3</integer>
					<key>GC</key>
					<integer>3</integer>
					<key>GCOBJ</key>
					<integer>3</integer>
					<key>GST</key>
					<integer>3</integer>
					<key>GST_PER_CONTEXT</key>
					<integer>3</integer>
					<key>GUC</key>
					<integer>3</integer>
					<key>GUCLOG</key>
					<integer>3</integer>
					<key>GUCQ</key>
					<integer>3</integer>
					<key>HWCS</key>
					<integer>3</integer>
					<key>HWCTXT</key>
					<integer>3</integer>
					<key>LAYOUT</key>
					<integer>3</integer>
					<key>LOCK</key>
					<integer>3</integer>
					<key>MAPPING</key>
					<integer>3</integer>
					<key>MEM</key>
					<integer>3</integer>
					<key>OAPATCHING</key>
					<integer>3</integer>
					<key>PATCH</key>
					<integer>3</integer>
					<key>QUEUE</key>
					<integer>3</integer>
					<key>RC</key>
					<integer>3</integer>
					<key>RC_MEM</key>
					<integer>3</integer>
					<key>RESLIST</key>
					<integer>3</integer>
					<key>RESOURCE</key>
					<integer>3</integer>
					<key>RING</key>
					<integer>3</integer>
					<key>SCHED</key>
					<integer>3</integer>
					<key>SEMQ</key>
					<integer>3</integer>
					<key>SHAREDUSER</key>
					<integer>3</integer>
					<key>SURFACE</key>
					<integer>3</integer>
					<key>SYSCTL</key>
					<integer>3</integer>
					<key>TASK</key>
					<integer>3</integer>
					<key>TELEMETRY</key>
					<integer>3</integer>
					<key>TELEMETRY_CONFIG</key>
					<integer>3</integer>
					<key>TELEMETRY_KTRACE</key>
					<integer>3</integer>
					<key>TELEMETRY_MEMORY</key>
					<integer>3</integer>
					<key>TELEMETRY_REPORT</key>
					<integer>3</integer>
					<key>TELEMETRY_USAGE</key>
					<integer>3</integer>
					<key>TELEMETRY_WRITE_STATISTICS</key>
					<integer>3</integer>
					<key>TEXTURE</key>
					<integer>3</integer>
					<key>UTIL</key>
					<integer>3</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>Development</key>
			<dict>
				<key>AddressMode</key>
				<integer>64</integer>
				<key>AddressSpaceEnableMask</key>
				<integer>3</integer>
				<key>AllowIOSurfaceRenderCompression</key>
				<integer>1</integer>
				<key>CsbProcModeSelect</key>
				<integer>0</integer>
				<key>DisablePageFaultHandling</key>
				<integer>0</integer>
				<key>DisplaySurfaceInEDRAM</key>
				<integer>0</integer>
				<key>EUThrottle</key>
				<integer>0</integer>
				<key>EnableMultiContext</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>0</integer>
				<key>EnablePreemption</key>
				<integer>1</integer>
				<key>ForceDisableEDRAM</key>
				<integer>0</integer>
				<key>GraphicsSchedulerSelect</key>
				<integer>5</integer>
				<key>MetalCoalesce</key>
				<integer>1</integer>
				<key>MultiForceWakeSelect</key>
				<integer>1</integer>
				<key>NewUtilizationAlgorithmEnable</key>
				<integer>1</integer>
				<key>PPGTT</key>
				<integer>1</integer>
				<key>PageTableMode</key>
				<integer>64</integer>
				<key>PanicOnGPUHang</key>
				<integer>0</integer>
				<key>PixelBackendThrottle</key>
				<integer>0</integer>
				<key>PreemptionDelayIntervalUS</key>
				<integer>160</integer>
				<key>PreemptionTimerIntervalUS</key>
				<integer>2000</integer>
				<key>RingSizeKB</key>
				<integer>32</integer>
				<key>SamplerDataFetchThrottle</key>
				<integer>0</integer>
				<key>SamplerPipeThrottle</key>
				<integer>0</integer>
				<key>SchedPmNotifyEnable</key>
				<integer>1</integer>
				<key>SchedThrottleCapMS</key>
				<integer>100</integer>
				<key>SchedulerFallbackOnFirmwareFail</key>
				<integer>1</integer>
				<key>SemaphoreWaitPoll</key>
				<integer>1</integer>
				<key>SeparateAddressSpace</key>
				<integer>1</integer>
				<key>SignalStampRange</key>
				<integer>1</integer>
				<key>SignalStampsPrimary</key>
				<integer>0</integer>
				<key>SingleChannelIndex</key>
				<integer>0</integer>
				<key>TelemetryDisable</key>
				<integer>0</integer>
				<key>WaitForComplete</key>
				<integer>0</integer>
			</dict>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelTGLGraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelTGLGraphicsGLDriver</string>
			<key>IOGVABGRAEnc</key>
			<string>Gen10</string>
			<key>IOGVACodec</key>
			<string>Gen10</string>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>183</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen10</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string></string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301568</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelTGLGraphicsMTLDriver</string>
		</dict>
		<key>com.ChefKissInc.NootedBlue</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ChefKissInc.NootedBlue</string>
			<key>IOClass</key>
			<string>NootedBlue</string>
			<key>IOMatchCategory</key>
			<string>NootedBlue</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2023 ChefKiss Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.6.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
