<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application-Group</key>
	<array>
		<string>AirPort</string>
		<string>AirPortDisk</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>22A380017</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AirPortUtility</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>basebinary</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AirPort Base Station Binary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>bin1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>ICBadgeImage</key>
			<string>AirPortApplicationWiFiBars</string>
			<key>ICExtension</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>basebinary</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AirPort Base Station Binary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>bin2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>ICBadgeImage</key>
			<string>AirPortApplicationWiFiBars</string>
			<key>ICExtension</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AirPortUtility</string>
	<key>CFBundleGetInfoString</key>
	<string>6.3.9, Copyright 2001 -2022 Apple Inc.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>AirPortUtility.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.airport.airportutility.help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>Hackintosh-and-Beyond.AirPort-Utility</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirPortUtility</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>1wcu</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>apupdate</string>
				<string>apconfig</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14E6097d</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.5</string>
	<key>DTSDKBuild</key>
	<string>22G62</string>
	<key>DTSDKName</key>
	<string>macosx13.5.internal</string>
	<key>DTXcode</key>
	<string>1430</string>
	<key>DTXcodeBuild</key>
	<string>14E6097d</string>
	<key>HPDHelpProjectIdentifier</key>
	<string>aputility</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
